<div id="mainContent" class="page- content-shrink">
    <div class="container py-5">
        <h1 class="mb-5 text-center text-dark">Réinitialiser mon mot de passe</h1>
        <div class="ml-auto mr-auto content_zone text-center">

            <form name="form" method="POST">
                <div class="form-group">
                    <label for="form_email" class="required">Email</label>
                    <input type="email" id="form_email" name="form[email]" placeholder="Votre email" required="required" class="text-center form-control">
                </div>

                <button class="btn btn-lg-3 btn-primary">Réinitialiser mon mot de passe</button>
            </form>
            
        </div>
    </div>
</div>