<footer class="py-8 py -md-11 bg-dark light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
              <!-- logo -->
            </div>
                 
            <div class="col-12 col-md-4 col-lg-2">
   
                <!-- heading  -->
                <H6 class="fw-bold text-uppercase text-gray-700 md-2" id="menu">Menu</H6>

                <!-- list -->

                <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                    <li class="mb-3">
                        <a href="{{ path( 'presentation' ) }}" class="text-reset">Présentation</a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path( 'massage' ) }}" class="text-reset">Massages</a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path( 'massages_duo' ) }}" class="text-reset">Massages Duo</a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path( 'blog' ) }}" class="text-reset">Blog</a>
                    </li>
                </ul>
            </div>

                <div class="col-12 col-md-4 col-lg-2">
                    <h6 class="fw-bold text-uppercase text-gray-700">Informations</h6>

                        <small class="d-block mb-3 text-muted">
                            <address>
                                <span class="text-uppercase">Beauty Massage</span>
                                <br>
                                15 rue de la détente
                                <br>
                                78370 Plaisir
                                <br>
                                Tel: 01-30-15-48-20
                            </address>
                        </small>
                </div>

                    <div class="col-12 col-md-4 col-lg-2">
                        <h6 class="fw-bold text-uppercase text-gray-700">A propos</h6>

                        <small class="d-block mb-3 text-muted">

                            <p>Beauty Massage est le site de l'institut de soin spécialisé pour vous déstresser en plein cœur des Yvelines à 30min de Paris.
                            Trouvez votre expert du bien etre pour un massage pas cher ! Nous avons tou type de massage pour vous relaxer: massage anti cellulite,
                            californien, chinois, thai, palper rouler, shiatsu.</p>

                        </small>
                    </div>
        </div>
     </div>   
</footer>