<div class="cover-container d-flex h-100 mx-auto flex-column">
    <div id="mainContent" class="page-">
            <div class="container py-5">
                <h1 class="mb-5 text-center text-dark">Mieux nous connaître</h1>

                <div class="row">
                    <div class="col-md-12 col-lg-6">

                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="/img/carousel/accueil.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/img/carousel/reception.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/img/carousel/massage.jpg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>

                    </div>


                    <div class="col-md-12 col-lg-6">
                        <h2 class="pb-4 mt-3 mt-lg-0">Un institut de massage situé en plein coeur des Yvelines </h2>
                        <p class="text-justify">
                            Né d'une <strong>passion</strong>  pour le massage, Bauty Massage est un institut de massage en Yvelines,
                             entièrement dédié à votre bien-être. Beauty Massage est un concept urbain et moderne destiné à rendre les
                             <strong>massages accessibles à tous</strong>. Beauty Massage, propose de vous faire découvrir ses nombreux massages 
                             <strong>à partir de 45€</strong> et pour des durées flexibles de <strong>30 minutes à 2h</strong>.
                              Notre institut de massage en Yvelines vous offre l'opportunité de vous évader avec ses <strong> 7 massages</strong>
                              : massages californien, French massage, massage thaï, massage du visage,
                                massage femme enceinte, massage anti-stress, réflexologie plantaire et le massage couple en duo.
                        </p>
                    </div> 
                </div>
                <hr>

                                    <!-- DEUXIEME PARTIS  -->
                <div class="our-massage-zone text-center">
                    <h2 class="pt-5 text-center">Notre salon de massage en bref </h2>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="panel">
                                    <i class="fas fa-female"></i>
                                    <h3>Massage en duo et Massage couple</h3>
                                    <p>Beauty massage vous propose également de partager ces moments de relaxation et de bien-être à deux !
                                       Notre institut de massage en Yvelines vous offrent la possibilité de profiter du massage de votre choix avec la personne de votre choix.
                                       La séance se déroule dans notre <strong>salle spécialement dédié au massage DUO</strong> ou vous pouvez vous détendre en couple ou entre amis. </p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="panel">
                                    <h3>Quel massage est fait pour vous ?</h3>
                                    <p>Vous avez fait beaucoup de sport ces derniers jours et vous avez mal aux jambes ? Vous êtes stressé et fatigué ?
                                       Pour <strong>trouver le massage qui vous correspond</strong> (pression douce, pression forte, massage relaxant, massage préventif …).</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="panel">
                                    <h3>Massage sur-mesure</h3>
                                    <p>Beauty Massage évolue avec son temps et cherche constamment à adapter ses prestations aux tendances et aux besoins évolutifs de ses clients.
                                       Vous rêvez d'essayer tous les massages en une seule fois ? Vous désirez un <strong>massage idéalement adapté</strong>
                                       à ce que vous ressentez aujourd'hui ? Le salon Beauty Massage est le seul salon de massage en Yvelines à vous proposer la solution :
                                        le massage sur mesure pour composer vous-même votre massage ! Chaque séance est différente, unique et adaptée à chacun.</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="panel">
                                    <h3>Histoire de Beauty Massage </h3>
                                    <p> Beauty Massage, institut de massage situé en plein cœur des Yvelines, crée depuis 2010, propose de vous faire découvrir 
                                        ses nombreux massages du monde.
                                    Venez vous détendre et vous relaxer au salon Beauty Massage ouvert 7j/7.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>


