<div id="mainContent" class="page-">
    <div class="container py-5">
        <h1 class="mb-5 text-center text-dark">Massage duo couple</h1>
            <div class="row">
                <div class="col-xxxl-12">
                    <div class="text-center panel2 panel_zone1">
                            <h2 class="mb-3 text-center text-dark">Massage à deux en duo</h2>
                            <div class="couverture_duo"></div>
                                <p class="text-justify">
                                
                                    Massage Concept Paris, votre salon de massage, vous propose de profiter
                                    d’un massage en couple ou en Duo. Partager ce moment de détente et de relaxation 
                                    en couple, entre amis ou en famille dans notre salle DUO spécialement conçue pour vous recevoir à deux.
                       
                                   </p>
                            
                            
                            <p class="text-justify"> </p>
                            <p class="text-justify"> </p>
                    
                    <div class="mt-3 button_zone text-center"></div>
                </div>
                <div class="col-xxxl-6"></div>
                <div class="col-xxxl-6"></div>
            </div>
    </div>
</div>