<body>
    <div id="mainContent" class="page- content-shrink">
      <div class="banner-zone">
        <a class="d-block background-center-zone" href="/reservation">
  
        <div class="content-zone">
          <div class="d-table">
            <div class="text-zone font-size-auto" style="font-size: 2rem">
              <div class="banner-panel">
               <div class="banner-panel-content">
                  <div class="zone-1 text-shadow text-white">
                    <span class="part-1"></span>Bienvenue !</span>
                  </div>
                    <span class="zone-4 btn btn-lg btn-primary">Réservez un massage</span >
                    </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
  
      <div class="container">
          <hr>
          <div class="text-center our-priority-zonenpy-5">
              <h2 class="mb-5 ">Notre priorité : prendre soin de vous</h2>
              <div class="row">
  
                  <div class="col-sm-6 col-md-3">
                      <h3>Prendre le temps</h3>
                      <p>de vous accueillir dans un espace confortable et spacieux. Prendre le temps de prendre soin de vous …</p>
                  </div>
  
                  <div class="col-sm-6 col-md-3">
                      <h3>Le meilleur de nos équipes</h3>
                      <p>au service de votre bien-être. Une équipe de masseurs cosmopolite, passionnée, expérimentée est à votre disposition.</p>
                  </div>
  
                  <div class="col-sm-6 col-md-3">
                      <h3>Être disponible</h3>
                      <p>pour vous 7 jours sur 7 de 10h à 22h.
                          <br>
                          Réservez votre séance de massage en ligne 24h/24.
                      </p>
                  </div>
  
                  <div class="col-sm-6 col-md-3">
                      <h3>À votre écoute ...</h3> 
                      <p>pour vous orienter et vous conseiller selon vos envies et vos besoins.
                          Notre équipe multilingue pourra vous accompagner dans votre moment de détente.</p>     
                  </div>
  
              </div>
          </div>
          <hr>
  
                      <!-- Experimentez les massages essentiels -->
      
                      <div classe="gift-zone text-center">
                          <div class="background-center-zone-2">
                              <div class="content-zone-2">
                                  <div class="d-table">
                                      <div class="text-zone font-size-auto" style="font-size: 2rem;">
                                          <h2 class="text-shadow "> Expérimentez les massages essentiels</h2>
                                          <a class="mt-2 btn btn-lg btn-light-2" href="/massages">Nos massages</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                       </div>
                       <hr>
                       
                       
                       
  
                              <!-- REQUIREMENT-ZONE !!! -->
  
                              <div class="requirement-zone text-center py-5 ">
                                  <div class="row">
  
                                      <div class="col-sm-4">
                                          <h3>Vous êtes uniques</h3>
                                          <p>Vous accueillir dans un espace confortable et spacieux.
                                              Prendre le temps de prendre soin de vous.
                                          </p>
                                      </div>
  
                                      <div class="col-sm-4">
                                          <h3>À votre écoute</h3>
                                          <p>Au service de votre bien-être. Une équipe de masseurs cosmopolite,
                                               passionnée, expérimentée est à votre disposition.</p>
                                      </div>
  
                                      <div class="col-sm-4">
                                          <h3>Qualité et authenticité</h3>
                                          <p>pour vous 7 jours sur 7 de 10h à 22h.
                                              <br>
                                              Réservez votre séance de massage en ligne 24h/24.
                                          </p>
                                      </div>
  
                                  </div>
                              </div>
    </div>
  </div>
  
  
   
  </body>
  