<div id="mainContent" class="page-">

    <div class="container py-5">
        <h1 class="mb-5 text-center text-dark">Massages</h1>
        <p>Ouvert 7 jours sur 7, du lundi au dimanche de 10h à 22h, notre centre de massage,
           Beauty Massage, vous propose de vous faire découvrir les massages du monde, à partir de 45 €.</p>
        <div class="h2 text-primary">Choisissez votre massage, la durée en Solo ou en Duo</div>
        <div class="h3">Cliquez sur le prix et commandez !</div>

            <div class="massages-grid">
                <div class="mt-4">
                    <div class="input_zone">
                        <div class="toggle btn btn-primary" data-toggle="toggle" role="button" style="width: 91.6713px; height:38px;">
                            <input class="solo_duo_input" type="checkbox" checked data-toggle="toggle" data-on="<i class='fas fa-male'></i> Solo"
                            data-off="<i class='fas fa-male'></i> <i class='fas fa-female'></i> Duo" data-onstyle="primary">
                                <div class="toggle-group">
                                    <label for class="btn btn-primary toggle-on">Solo</label>
                                    <label for class="btn btn-primary toggle-off">Duo</label>
                                    <span class="toggle-handle btn btn-light"></span>
                                </div>
                        </div>
                        <div class="toggle btn btn-primary" data-toggle="toggle" role="button" style="width: 166.125px; height:38px;">
                            <input class="order_gift_input" type="checkbox" checked data-toggle="toggle" data-on="<i class='fas fa-cart-plus'></i>
                            Je commande" data-off="<i class='fas fa-gift'></i> J'offre" data-onstyle="primary" data-offstyle="cherry">
                                <div class="toggle-group">
                                    <label for class="btn btn-primary toggle-on">Je commande</label>
                                    <label for class="btn btn-cherry toggle-off">J'offre</label>
                                    <span class="toggle-handle btn btn-light"></span>
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="mt-3 table-responsive">
                    <table class="table mt-3 massage_types_table">
                        <thead>
                            <tr>

                                <th class="icon_zone"></th>
                                <th class="text_zone">
                                    <img src="/public/img/pmassage/icone_massage_huile.png">
                                    <span class="h2">Massages à l'huile</span>
                                </th>

                                <th class="pressure_zone">Pression</th>
                                <th class="price_zone">30'</th>
                                <th class="price_zone">45'</th>
                                <th class="price_zone">1h</th>
                                <th class="price_zone">2h</th>

                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr data-id="15">
                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/icone_massage_visage.7f39083e.png">
                                </td>

                                <td class="text_zone">
                                    <h2>Massage Visage</h2>
                                    <p class="catch_phrase">Prolonger la jeunesse de sa peau et réduire les signes visibles de l'âge.</p>
                                </td>

                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1 active"></div>
                                        <div title="Modérèe" class="pressure pressure_2 active"></div>
                                        <div title="Appuyée" class="pressure pressure_3"></div>
                                        <div title="Profonde" class="pressure pressure_4"></div>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">70€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">85€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">100€</a>
                                    </div>
                                </td>

                                <td class="price_zone"></td>

                            </tr>

                            <tr data-id="11">

                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/">
                                </td>

                                <td class="text_zone">
                                    <h2>Massage Anti-stress</h2>
                                    <p class="catch_phrase">Express, arrière du corps uniquement</p>
                                </td>

                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1"></div>
                                        <div title="Modérèe" class="pressure pressure_2 active"></div>
                                        <div title="Appuyée" class="pressure pressure_3 active"></div>
                                        <div title="Profonde" class="pressure pressure_4"></div>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">45€</a>
                                    </div>
                                </td>
                                <td class="price_zone"></td>
                                <td class="price_zone"></td>
                                <td class="price_zone"></td>
                                
                            </tr>

                            <tr data-id="3">
                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/icone_reflexologie_plantaire.png">
                                </td>

                                <td class="text_zone">
                                    <h2>Réflexologie plantaire</h2>
                                    <p class="catch_phrase">Le massage traditionnel des pieds.</p>
                                </td>

                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1"></div>
                                        <div title="Modérèe" class="pressure pressure_2 active"></div>
                                        <div title="Appuyée" class="pressure pressure_3 active"></div>
                                        <div title="Profonde" class="pressure pressure_4 active"></div>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">45€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">60€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">75€</a>
                                    </div>
                                </td>

                                <td class="price_zone"></td>

                            </tr>


                            <tr data-id="6">
                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/icone_massage_prenatal.png">
                                </td>

                                <td class="text_zone">
                                    <h2>Massage prénatal</h2>
                                    <p class="catch_phrase">Pour la future maman (entre le 3ème et le 8ème mois)</p>
                                </td>
                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1 active"></div>
                                        <div title="Modérée" class="pressure pressure_2 "></div>
                                        <div title="Appuyée" class="pressure pressure_3"></div>
                                        <div title="Profonde" class="pressure pressure_4"></div>
                                    </div>
                                </td>

                                <td class="price_zone"></td>
                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">60€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">75€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">90€</a>
                                    </div>
                                </td>

                            </tr>

                            <tr data-id="2">
                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/icone_french_massage.png">
                                </td>

                                <td class="text_zone">
                                    <h2>Le French Massage</h2>
                                    <p class="catch_phrase">Plus de temps passé sur les mains, les pieds et la tête</p>
                                </td>

                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1"></div>
                                        <div title="Modérée" class="pressure pressure_2 active"></div>
                                        <div title="Appuyée" class="pressure pressure_3 active"></div>
                                        <div title="Profonde" class="pressure pressure_4 "></div>
                                    </div>
                                </td>

                                <td class="price_zone"></td>
                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">90€</a>
                                    </div>
                                </td>

                                <td class="price_zone"></td>
                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">105€</a>
                                    </div>
                                </td>

                            </tr>

                            <tr data-id="1">
                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/icone_massage_californien.png">
                                </td>

                                <td class="text_zone">
                                    <h2>Massage Californien</h2>
                                    <p class="catch_phrase">Fluide et harmonieux</p>
                                </td>

                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1 active"></div>
                                        <div title="Modérée" class="pressure pressure_2 active"></div>
                                        <div title="Appuyée" class="pressure pressure_3 "></div>
                                        <div title="Profonde" class="pressure pressure_4 "></div>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">60€</a>
                                    </div>
                                </td>
                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">75€</a>
                                    </div>
                                </td>
                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">90€</a>
                                    </div>
                                </td>
                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">105€</a>
                                    </div>
                                </td>

                            </tr>

                            <tr data-id="9">
                                <td class="icon_zone">
                                    <img class="massage_icon" src="/public/img/pmassage/icone_massage_thailandais.png">
                                </td>

                                <td class="text_zone">
                                    <h2>Massage Thaïlandais</h2>
                                    <p class="catch_phrase">Yoga des paresseux</p>
                                </td>

                                <td class="pressure_zone">
                                    <div class="pressure_icon">
                                        <div title="Légère" class="pressure pressure_1"></div>
                                        <div title="Modérée" class="pressure pressure_2 "></div>
                                        <div title="Appuyée" class="pressure pressure_3 "></div>
                                        <div title="Profonde" class="pressure pressure_4 active "></div>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">60€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">75€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">90€</a>
                                    </div>
                                </td>

                                <td class="price_zone">
                                    <div class="price solo order">
                                        <a style="color: #cd9933;">105€</a>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
    </div>
</div>





